################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LibraryManagementText.Tests/obj
/ProjectWork/bin/Debug
/ProjectWork/obj
